
<header>


</header>

<body>
    <h1 style="padding-top:50px;">Welcome To The Local Municipality</h1>

	<div id="navButton">
        
        <button id= "large-button" class="large-button">Click Me!</button>
        <button id="large-button"  class="large-button">Click Me!</button>
        <button id="large-button"  class="large-button">Click Me!</button>

     </div>

</body>

