#navButton {
    background-color: lightgrey; /* Change background color */
    color: white; /* Change text color */
    padding: 20px; /* Add some padding */
    width: 95%;
    height: 310px;
    border-radius: 5px;
    
}

h1 {

    font-family: Arial;
    text-align:center;
    padding-bottom: 90px;
    font-size: 30px;
    color: black;
}

#large-button {
    
    margin-bottom: 20px;
    float: left;
    height: 90px;
    width: 80%;
    font-family: Arial;
    color: black;
    background-color: #FAB061;
    border-radius: 5px;
    text-align:center;
    font-size: 20px;
    font-weight:bolder;

}